body {
    background-color: #faf8ef;
    color: #907c64;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
}

/* header container */
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* 2048 title */
h1#title {
    font-size: 80px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 0px;
    display: block;
    /*float: left;*/
}
p#content{
    margin-left: -40px;
    margin-top: -40px;
    display: block;
    /*float: left;*/
}
div#score-title{
    margin-top: -10px;
    font-size: 25px;

}
div.newGame-font{
    font-size: 25px;
}

div.score-container {
    /*position: absolute;*/
    float: left;
    background-color: #c0aca4;
    color: #f0e4dc;
    height: 25px;
    padding: 25px 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: -40px;
    width: 150px;
    border-radius: 4px;
}
div.newGame-container {
    /*position: absolute;*/
    float: left;
    background-color: #c0aca4;
    color: #f0e4dc;
    height: 25px;
    padding: 25px 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
    width: 150px;
    border-radius: 4px;
    cursor: pointer;
}
div#score {
    font-weight: bold;
    font-size: 25px;
    color: #776e65;
}

.instructions {
    position: relative;
    float: left;
    margin-top: 100px;
    margin-right: -100px;
    padding-left: 10px;
}
a, p {
    font-weight: bold;
    color: rosybrown;
    font-size: 20px;
    text-decoration: none;
}
table{
    font-size: 30px;
    /*float: left;*/
    margin-top: 90px;
    /*margin-left: 500px;*/
}

.button-50 {
    width: 350px;
    background-color: #907c64;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #c0aca4 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #f0e4dc;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 10px 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

